.profilepic{
	max-width:100%;
}

.card{
	margin-top:10px;
	margin-bottom:10px;
}

.progress{
	margin-top:5px;
	margin-bottom:5px;
}

body {
    background-image: url("../img/ToesinSand2.jpg");
    background-size: contain;
}
.navbar {
	background: #000000;
}